* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#f9d349, 20%, #d57e12);
  background-attachment: fixed;
  flex-wrap: wrap;
}

/*---------------CABEÇALHO----------------------*/

nav {
  display: flex;
  flex-wrap: wrap;

  gap: 140px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 40px;
}

/*------------------MARCA-LOGO------------------*/
.logo {
  width: 200px;
  margin-left: 50px;
  margin-top: 0px;
}

/*-------------------MENU-----------------------*/
.menu a {
  padding-left: 30px;

  text-decoration: none;
  color: rgb(12, 12, 12);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin-right: 85px;
}

.menu a:after {
  content: "";
  display: block;
  margin-top: 4px;
  height: 2px;
  width: 0%;
  background: rgba(18, 17, 17, 0.89);
  transition: 0.5s;
}

.menu a:hover:after {
  width: 100%;
}

/*----------------------CAPA----------------------*/
.caixa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.capa {
  width: 800px;
  margin-top: 20px;
}

h1 {
  font-size: 60px;
  color: rgb(17, 0, 79);
  margin-left: 50px;
  margin-top: 150px;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1250px) {
  .capa {
    width: 395px;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1150px) {
  .slide {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1250px) {
  h1 {
    font-size: 60px;
  }
}

/*-------------------------INFORMAÇÃO-------------------------------*/

.container {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;

  margin: 20px;
  padding: 20px 0;
}

.container .card {
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 95%;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}

.container .card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
  height: 150px;
  width: 150px;
  left: -10%;
  top: calc(100% - 50px);
}

.container .card .imgBx img {
  max-width: 300px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
  max-width: 75px;
}

.container .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 20px);
  height: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content h2 {
  color: #ff0057;
  margin-bottom: 10px;
  font-size: 24px;
}

.container .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  background: #0095ff;
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
}
